{{!< default}}

<div class="container">
    <h1 class="page-title">Posts etiquetados: {{tag.name}}</h1>

    <ol class="post-list">
        {{#foreach posts}}
            <li class="post-stub {{post_class}}" >
                <a class="js-ajax-link"  title="{{title}}" href="{{url}}">
                    <h4 class="post-stub-title">{{title}}</h4>

                    <time class="post-stub-date" datetime="{{published_at}}">Publicado el {{date format="LL"}}</time>

                    {{#if featured}}
                        <span class="post-stub-tag">Destacado</span>
                    {{/if}}
                </a>
            </li>
        {{/foreach}}
    </ol>

    <div class="post-navigation">
        {{pagination}}
    </div>
</div>